header{
  margin: 0px;
  background-color: var(--backgroundColorW);
  height: 56px;
  padding-left: 10px;padding-right: 10px;
  
  display: flex;
  align-items: center;
}
.leftAreaHeader{
  display: flex; 
  align-items: center;
  padding-right: 20px ;
}
.menu-button{
  border-radius: 30px;
  padding: 8px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  background-color: var(--backgroundColorW);
}.menu-button:hover{
  background-color: var(--backgroundColorW-hover);
  
}.menu-button svg{
  height: 24px;
  width: 24px;
}

/* Youtube icon */
.youtubeIcon{
  min-width: 90px;height: 20px;
  padding: 18px 14px 18px 16px;
  background-color: var(--backgroundColorT);
  border: none;
  position: relative;

  /* flex: none; */
  justify-content: center;
  /* background-color: purple; */
}.youtubeIcon:hover{
  cursor: pointer;
}.youtubeIcon img{
  /* min-width: 100%; */
  position: absolute;
  width: 85% ;
    /* height: 75%;  */
  top: 4%;left: 5%;


}.youtubeIcon small{
  position: absolute;
  top: 12px; right: -1px;
  font-size: 10px;
  color: gray;
}.youtubeIcon .tooltip{
  position: absolute;

  color: white;
  background-color: var(--backgroundColorB);

  font-size: 11px;
  right: -40%;
  bottom: -8px;

  border: solid 1px white;
  padding: 2px;
  border-radius: 3px;

  opacity: 0;
}.youtubeIcon:hover .tooltip{
  opacity: 1;
  transition: opacity .4s;
  transition-delay: .7s;
}




header Button{
  border-radius: 30px;
  padding: 8px;
  position: relative;
  display: flex;
  background-color: var(--backgroundColorT);
  font-family: "Roboto",Arial;
}header Button:hover{
  background-color: var(--backgroundColorW-hover);
}header button:hover .tooltip{
 opacity: 1;
}header Button img{
  width: 24px;height: 24px;
}header button .tooltip{
  position: absolute;
  background-color: rgb(72, 72, 72, .8);
  color: var(--backgroundColorW);

  opacity: 0;
  transition: opacity .1s;
  pointer-events: none;

  padding: 8px 10px 10px 10px;
  font-size: 12px;
  border-radius: 6px;
  width: fit-content;
  white-space: nowrap;

}
/* Header buttons tooltips positioning */
.UploadB .tooltip{
  position: absolute;
  bottom: -120%;
  left: -7px;
}
.NotificationsB .tooltip{
  bottom: -120%;
  left: -28px;
}
.SearchB .tooltip{
  bottom: -120%;
  left: -7px;
}
.VoiceSearchB .tooltip{
  bottom: -120%;
  left: -55px;
}

.centerHeader{
  /* background-color: pink; */
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.rightHeader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.notificationsNumber{
  font-family:"Roboto",Arial ;
  background-color: #c00;
  color: white;
  border: 2px solid;
  border-color: var(--backgroundColorW);
  font-size: 12px;
  padding: 0px 4px 0px 4px;
  border-radius: 200px;
  position: absolute;
  top: 5px; right: 1px;
}

/* Channel Button */

.channelButton{
  border-radius: 0px;
  
  pointer-events:none ;
  padding:0px 8px 0px 10px;
  /* background-color: orange; */

}.channelButton:hover{
  background-color: transparent;
}
.channelButton img{
  pointer-events: all;
  width: 32px;height: 32px;
  border-radius: 222px;
}
